In [1]:
import pandas as pd, numpy as np

In [2]:
df = pd.read_excel('DATASET.xlsx')
df

C:\Users\SUKRIT BANSAL\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\SUKRIT BANSAL\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,NaN,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,NaN,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,NaN,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,NaN,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,NaN,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1,1.8,1.0,15,1.681
1005,NaN,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6,7.9,2.0,15,1.838
1006,NaN,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0,15.7,2.0,16,1.862
1007,NaN,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2,30.5,6.0,18,1.883
1008,NaN,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

# Pre-processing

In [3]:
df = df.drop([910, 911, 912, 913, 914, 915, 916, 917, 918])

In [4]:
df.fillna(0, inplace=True)

In [5]:
j = 0
for i in range(100):
  df.iloc[j:j + 10, 0] = df.iloc[j, 0]
  j += 10

In [6]:
df_test = df.loc[df['year'] == 10]
df_test

,Unnamed: 0,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
9,Sec_1,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,105.0,65.0,9,1.960
19,Sec_2,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,44.3,5.0,9,0.795
29,Sec_3,10,487.7,93.2,22.5,0.0,4,110,2140,1270,78.5,0.0,0.0,16,1.432
39,Sec_4,10,543.6,93.2,22.5,0.0,4,110,2140,1270,28.5,60.5,67.0,11,2.004
49,Sec_5,10,434.4,149.0,11.7,72.0,3,110,13142,6225,0.0,276.2,34.0,6,1.792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,Sec_97,10,514.0,1226.4,10.1,203.6,16,114,7672,303,219.7,206.2,10.0,8,1.607
978,Sec_98,10,901.0,1531.0,11.1,34.9,40,100,15150,1077,5.9,74.5,33.0,13,1.087
988,Sec_99,10,1181.0,1364.9,9.2,274.3,24,112,12500,880,131.4,72.4,18.0,12,0.996
998,Sec_100,10,662.0,1110.7,12.8,33.2,27,117,3324,1356,193.7,305.6,180.0,12,2.212
1008,Sec_101,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [7]:
df.columns = df.columns.str.replace('Unnamed: 0', 'Group')
df_test.columns = df_test.columns.str.replace('Unnamed: 0', 'Group')
df

,Group,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,Sec_1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,Sec_1,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,Sec_1,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,Sec_1,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,Sec_101,6,454.0,931.8,13.6,125.0,13,116,4150,830,15.1,1.8,1.0,15,1.681
1005,Sec_101,7,454.0,703.0,14.5,17.0,13,118,4150,830,24.6,7.9,2.0,15,1.838
1006,Sec_101,8,454.0,1124.1,14.9,45.0,18,117,4200,840,119.0,15.7,2.0,16,1.862
1007,Sec_101,9,454.0,1462.3,13.2,62.0,27,117,4400,720,138.2,30.5,6.0,18,1.883
1008,Sec_101,10,454.0,986.3,14.3,67.0,24,122,4415,721,293.0,39.8,7.0,18,1.889

In [8]:
df.head(30)

,Group,year,Para-1,Para-2,Para-3,Para-4,Para-5,Para-6,Para-7,Para-8,Para-9,Para-10,Para-11,Para-12,Para-13
0,Sec_1,1,324.0,354.5,17.0,0.0,3,117,2600,400,0.0,0.0,0.0,0,1.520
1,Sec_1,2,324.0,161.1,18.2,0.0,4,106,5950,1190,0.0,3.4,0.0,0,1.620
2,Sec_1,3,324.0,170.7,18.5,0.0,4,110,5950,1190,0.0,21.3,0.0,4,1.680
3,Sec_1,4,324.0,223.9,18.9,0.0,3,110,6150,1340,0.0,21.3,0.0,5,1.780
4,Sec_1,5,324.0,228.2,18.4,0.0,2,113,6340,1450,0.0,23.9,0.0,7,1.800
5,Sec_1,6,324.0,225.0,17.2,0.0,4,114,6630,1500,0.0,24.9,0.0,7,1.810
6,Sec_1,7,324.0,130.0,18.4,0.0,3,103,6700,1540,0.9,25.2,0.0,7,1.860
7,Sec_1,8,324.0,100.6,19.0,0.0,2,114,6740,1590,0.9,52.8,0.0,8,1.890
8,Sec_1,9,324.0,176.5,19.0,0.0,3,108,7175,1787,3.4,60.5,57.0,8,1.920
9,Sec_1,10,324.0,53.6,19.0,0.0,2,105,7567,1885,16.8,105.0,65.0,9,1.960
10,Sec_2,1,327.7,336.6,21.3,0.0,4,106,5810,2030,0.0,0.0,0.0,0,0.712
11,Sec_2,2,327.7,240.2,22.1,0.0,3,104,5900,2200,0.0,0.0,0.0,0,0.720
12,Sec_2,3,327.7,155.3,22.4,0.0,3,104,6100,2500,0.0,0.0,0.0,0,0.752
13,Sec_2,4,327.7,77.0,23.0,0.0,2,105,6140,2650,0.0,9.0,0.0,0,0.758
14,Sec_2,5,327.7,146.3,22.5,0.0,2,108,6200,2800,2.9,11.0,0.0,6,0.762
15,Sec_2,6,327.7,216.3,21.2,0.0,4,111,6500,2550,34.8,18.6,0.0,7,0.770
16,Sec_2,7,327.7,77.1,22.4,0.0,4,106,19437,7674,50.6,24.9,0.0,7,0.781
17,Sec_2,8,327.7,90.3,22.8,0.0,2,105,22755,8472,56.7,27.0,1.0,8,0.789
18,Sec_2,9,327.7,238.5,22.8,0.0,2,103,26640,9353,60.9,30.2,1.0,8,0.794
19,Sec_2,10,327.7,62.0,22.7,0.0,2,102,30525,10234,76.5,44.3,5.0,9,0.795
20,Sec_3,1,487.7,222.4,21.3,0.0,3,107,1850,610,0.0,0.0,0.0,0,1.211
21,Sec_3,2,487.7,224.9,21.2,0.0,3,109,1880,660,0.0,0.0,0.0,0,1.241
22,Sec_3,3,487.7,226.6,21.1,0.0,3,108,1380,490,31.6,0.0,0.0,10,1.273
23,Sec_3,4,487.7,424.4,21.2,0.0,2,105,1760,620,33.7,0.0,0.0,11,1.000
24,Sec_3,5,487.7,257.1,21.2,0.0,4,111,1700,610,36.7,0.0,0.0,11,1.356
25,Sec_3,6,487.7,256.0,21.8,0.0,3,109,1600,610,40.6,0.0,0.0,12,1.269
26,Sec_3,7,487.7,226.7,22.1,0.0,3,108,1760,860,66.6,0.0,0.0,13,1.311
27,Sec_3,8,487.7,82.7,22.6,0.0,2,106,1800,900,71.6,0.0,0.0,13,1.390
28,Sec_3,9,487.7,135.4,22.2,0.0,2,109,1900,1130,75.4,0.0,0.0,14,1.414
29,Sec_3,10,487.7,93.2,22.5,0.0,4,110,2140,1270,78.5,0.0,0.0,16,1.432

# Model

In [9]:
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import math

In [36]:
etr = ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
                    max_features='auto', max_leaf_nodes=70,
                    min_impurity_decrease=0.0, 
                    min_samples_leaf=1,
                    min_weight_fraction_leaf=0.2,
                    n_jobs=None, oob_score=False, random_state=1, verbose=0,
                    warm_start=False)

In [37]:
predicted = {'Para-9': [], 'Para-10': [], 'Para-11': [], 'Para-12': [], 'Para-13': []}
names = ['Para-9', 'Para-10', 'Para-11', 'Para-12', 'Para-13']

In [38]:
rmse = []
N = 0
index = 0
for j in [10, 11, 12, 13, 14]:
  ans = 0
  count = 0
  for i in range(0, 1000, 10):
    xtrain = df.iloc[i:i+9, 1:10]
    ytrain = df.iloc[i:i+9, j]
    xtest = df.iloc[i+9, 1:10].to_numpy()
    ytest = df.iloc[i+9, j]
    etr.fit(xtrain, ytrain)
    ypred = etr.predict(xtest.reshape(1,-1))[0]
    predicted[names[index]].append(ypred)
    ans += (ytest - ypred)**2
    count += 1
    N += 1
  rmse.append(ans)
  index += 1

In [39]:
df_pred = pd.DataFrame.from_dict(predicted)
df_pred

        Para-9     Para-10     Para-11    Para-12   Para-13
0     1.876333   50.301000   21.565000   7.776667  1.893483
1    56.695333   27.638000    0.815000   7.721667  0.788770
2    67.252190    0.000000    0.000000  12.350000  1.372898
3    14.467833   52.923190   57.533333   7.540476  1.761707
4     0.000000  254.940667   33.880000   5.955000  1.707957
..         ...         ...         ...        ...       ...
95  167.663833  178.279500    8.944000   7.224167  1.516742
96    4.385333   54.091333   23.681667  11.951667  1.069927
97  113.163500   62.660000   13.356667  11.193333  0.888742
98  113.464333  224.020417  140.517500  11.446667  2.017563
99  103.383083   18.170583    3.245833  16.163333  1.848260

[100 rows x 5 columns]

In [40]:
for i in rmse:
  print((i/count)**0.5)

68.90300766390902
69.11947243477118
30.034700867620316
15.717071732634409
0.28168533786498584

In [41]:
print((sum(rmse)/N)**0.5)

46.20457743877672